<main>
  <div class="bg-[#fafaff] p-4 uppercase text-center text-[#1c1c1c]">
    Rotaract | Rotary
  </div>
  <!--Hero-->
  <section class="min-h-screen cover text-[#fafaff] h-full flex  items-center">
    <div class=" max-w-7xl w-full mx-auto my-0 flex  justify-center flex-col items-center text-center px-4">
      <h1 class="text-7xl mb-8">Expo - venta de Arte</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, et! Eaque magnam pariatur repellat,
        eligendi amet culpa voluptates atque esse maxime similique dolores temporibus velit voluptatibus deleniti
        voluptatum dignissimos iure!</p>
    </div>
  </section>

  <!--Content-->
  <section class="max-w-7xl w-full mx-auto my-0 p-4">
    <article class="grid lg:grid-cols-2 py-6 lg:py-20 border-b border-[#1c1c1c]">
      <div>
        <p class="font-bold text-2xl mb-4">Nombre</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo consectetur et dolore fugit animi amet
          fuga rerum numquam soluta deserunt, nemo recusandae ea suscipit consequuntur hic exercitationem velit quisquam
          delectus!</p>
      </div>

      <div class="mt-4 flex justify-center">
        <img class="aspect-video rounded-lg" src="https://placehold.co/600x300.png" alt="" srcset="">
      </div>
    </article>

    <article class="grid lg:grid-cols-2 py-6 lg:py-20  border-[#1c1c1c]">


      <div class="mt-4 grid gap-3 lg:pr-6 order-2 lg:order-1">
        <div class="grid grid-cols-2 gap-3 " >
          <img class="aspect-video rounded-lg  w-full" src="https://placehold.co/600x300.png" alt="" srcset="">
          <img class="aspect-video rounded-lg  w-full" src="https://placehold.co/600x300.png" alt="" srcset="">
        </div>
        <img class="aspect-video rounded-lg" src="https://placehold.co/600x300.png" alt="" srcset="">
      </div>

      <div class="lg:order-2" >
        <p class="font-bold text-2xl mb-4">Nombre</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo consectetur et dolore fugit animi amet
          fuga rerum numquam soluta deserunt, nemo recusandae ea suscipit consequuntur hic exercitationem velit quisquam
          delectus!</p>
      </div>

    </article>
  </section>

  <!--Footer-->
  <footer class=" max-w-7xl w-full mx-auto my-0">
    <section class="border-t border-[#1c1c1c] py-4 mt-5">
      <P class="text-4xl mb-6 px-4">Contactanos</P>
      <p  class=" max-w-3xl pl-8 mb-4 pr-8" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste beatae, ratione ab ex ut deserunt error earum, accusamus nihil rerum corporis maxime dolores sunt labore ipsa magnam sapiente. Et, autem.</p>
      <div class="grid max-w-16 w-full gap-2">
        <article class="flex items-center gap-2 pl-8">
          <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg" color="#000000">
            <path
              d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"
              stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path
              d="M3 16V8C3 5.23858 5.23858 3 8 3H16C18.7614 3 21 5.23858 21 8V16C21 18.7614 18.7614 21 16 21H8C5.23858 21 3 18.7614 3 16Z"
              stroke="#000000" stroke-width="1.5"></path>
            <path d="M17.5 6.51L17.51 6.49889" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <p>Rotaract</p>
        </article>
        <article class="flex items-center gap-2 pl-8">
          <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg" color="#000000">
            <path
              d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"
              stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path
              d="M3 16V8C3 5.23858 5.23858 3 8 3H16C18.7614 3 21 5.23858 21 8V16C21 18.7614 18.7614 21 16 21H8C5.23858 21 3 18.7614 3 16Z"
              stroke="#000000" stroke-width="1.5"></path>
            <path d="M17.5 6.51L17.51 6.49889" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <p>Rotary</p>
        </article>
      </div>
    </section>
  </footer>
</main>
