/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html{
  background-color: #fafaff;
  color: #1c1c1c;
  font-family: 'Libre Baskerville', serif;
}


body {
  --sb-track-color: transparent;
  --sb-thumb-color: #adadad;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;

}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
